<script setup lang="ts"></script>

<template>
  <p>
    <span title="message">
      Hover your mouse over me for a few second to see my dynamically bound
      title!
    </span>
  </p>

  <p class="red">
    <span> this should be red... but click me to toggle it. </span>
  </p>

  <p style="color: green">
    <span> this should be red... but click me to toggle it. </span>
  </p>
</template>

<style scoped></style>
