<script setup lang="ts">
import { RouterLink, RouterView } from "vue-router";
import HelloWorld from "./components/HelloWorld.vue";
import CalComponentVue from "./components/CalComponent.vue";
import HelloWorldExample from "./components/HelloWorldExample.vue";
import HandlingUserInputVue from "./components/HandlingUserInput.vue";
import AttributeBinding from "./components/AttributeBinding.vue";
import ConditionsAndLoops from "./components/ConditionsAndLoops.vue";
import FormBindings from "./components/FormBindings.vue";
import SimpleComponentVue from "./components/SimpleComponent.vue";
</script>

<template>
  <div>
    <SimpleComponentVue />
    <br />
    <br />
    <ConditionsAndLoops />
    <br />
    <br />
    <FormBindings />
    <br />
    <br />
    <AttributeBinding />
    <HandlingUserInputVue />
    <CalComponentVue />
    <HelloWorldExample />
  </div>
</template>

<style scoped></style>
